.score-header {
    font-size: 50%;
  }
  
  .score-container {
    background-color: #AFDCEC;
    color: rgba(255, 255, 255, 1);
    min-width: 50px;
    text-align:center;
    width: 70px;
    padding: 5px 15px;
    border-radius: 7px;
  }