.game-details-container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }
.game-title {
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
  }
  
  .game-rule-container {
    font-size: small;
    width: 400px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
  }